.u-section-1 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 88px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 60px;
}