.u-section-1 .u-sheet-1 {
  min-height: 1810px;
}

.u-section-1 .u-image-1 {
  width: 123px;
  height: 98px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px auto 0 391px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -75px 396px 0 auto;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 66px auto 0;
}

.u-section-1 .u-group-1 {
  width: 270px;
  min-height: 605px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 120px auto 0 86px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-1 .u-image-2 {
  width: 194px;
  height: 194px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 4px 19px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 98px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 9px 3px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: 4px 5px 0 25px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-1 .u-group-2 {
  width: 270px;
  min-height: 758px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -573px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 194px;
  height: 194px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-size: 1rem;
  margin: 5px 19px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 98px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 9px 0 0 5px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  margin: 25px 22px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 22px 62px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 270px;
  min-height: 538px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -707px 86px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-1 .u-image-4 {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-1 .u-text-14 {
  font-weight: 400;
  font-size: 1rem;
  margin: 5px 26px 0;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 103px;
  margin: 17px auto 0;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 12px 26px 0;
}

.u-section-1 .u-text-17 {
  font-weight: 400;
  margin: 25px 25px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 22px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 877px;
  height: 443px;
  margin: 277px auto 0;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -260px auto 60px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2133px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 40px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 416px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 69px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 124px;
    margin-left: 20px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -603px;
  }

  .u-section-1 .u-group-3 {
    min-height: 560px;
    margin-top: -756px;
    margin-right: 19px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 493px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3330px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 45px;
    margin-left: 180px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -82px;
    margin-left: 309px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 54px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 19px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 283px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: -299px;
    margin-right: auto;
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3017px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 36px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -86px;
    margin-right: 94px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 58px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 181px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-18 {
    margin-right: -9px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 41px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -74px;
    margin-right: 41px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 164px;
  }

  .u-section-1 .u-shape-1 {
    width: 586px;
    margin-top: 83px;
    margin-left: -123px;
    margin-right: -123px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -283px;
    margin-left: 0;
    margin-right: 0;
  }
}